
.App {
  text-align: center;
  padding-top:100vh;
  position: relative;
}

.content {
  position: absolute;
  top: 30px;
  bottom: 30px;
  left: 18px;
  right: 18px;
  padding-top: 48vh;
}
.content div {
  height: fit-content;
}

h1,h2 {
  color: #fff;
}