
.App {
    text-align: center;
    padding-top:100vh;
    position: relative;
  }
  
  .content {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 18px;
    right: 18px;
  }
  .content div {
    height: fit-content;
  }
  
  h1,h2 {
    color: #fff;
  }
  
  .card-img-top {
    height: 300px;
    object-fit: contain;
  }
  
  .card-text {
    overflow: hidden;
     text-overflow: ellipsis;
     display: -webkit-box;
     -webkit-line-clamp: 2; 
     -webkit-box-orient: vertical;
  }