.slide-item {
    width: 940px;
    margin: 0 auto;
}


.head-title {
    color: red;
}

// bao phủ tất cả
.slide {
    margin-right: 0;
    margin-left: 0;
    border-width: 0.2rem;
    position: relative;
}

//css nút next,prevs
.btn-trans {
    top:0;
    bottom: 0;
    color: #fff;
    font-size: 50px;
    display: flex;
    align-items: center;
    opacity: 0.3;
    z-index: 50;
}

.btn-trans:hover {
    opacity: 1;
}

.btn-next {
    right: 0;
}

.btn-prevs {
    left: 0;
}
//css phần img
.slide-img {
    width: 100%;
    float: left;
    position: relative;
    display: block;
    z-index: 1;
    transition: all 0.5s ease-in;
    height: 235px;
}

.wrap-img {
    padding: 8px;
}

.slide-img.active {
    opacity: 1;
    z-index: 5;
}

.carousel-box.active {
    background-color: #fff;
}

.modal-custom {
    max-width: 940px;
}

.header-custom {
    bottom: -36px;
    right: 0;
    border: none;
}

//Css modal
//css phần img

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}
.outline {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
}
.modal-content {
    z-index: 5;
    max-width: 940px;
    animation: FadeIn 0.6s ease;
}

.btn-trans {
    top:0;
    bottom: 0;
    color: #fff;
    font-size: 50px;
    display: flex;
    align-items: center;
    opacity: 0.3;
    z-index: 50;
}

.btn-trans:hover {
    opacity: 1;
}

.btn-next {
    right: 0;
}

.btn-prevs {
    left: 0;
}


@keyframes FadeIn {
    from {
        transform: translateY(-30%);
    }
}